// COLOR
$color-text-primary = #e1e1e1
$color-text-secondary = #a8a8a8
$color-text-third = #ffffff
$color-text-fourth = #ffffff
$color-background = #17191e
$color-outline = #333840
$color-panel = #21252BFF
$color-hover-select = #00b0e8

$color-code-background = #F4F4F4
$color-code-highlight = #0177AA
$color-code-default = #7D7C78
$color-code-marker = #BABABA

$color-search-marker = #FFF59B
$color-overlay = rgba(0, 0, 0, 0.2)

// CODE HIGHLIGHT
@import "../highlight/darkula.styl"