<div class="footer">
    <div class="flex-container">
        <div class="footer-text">
            <%= "Fraser Hutchison" %> &copy; <%= date(new Date(), 'YYYY') %>
                <br>
            <a href="mailto:fraserjameshutchison@gmail.com"> <i class="fas fa-envelope"></i> fraserjameshutchison@gmail.com </a>
        </div>
    </div>
</div>