<head>
    <!-- Include Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Include https://www.goatcounter.com/ goatcounter open-source privacy conscious analytics -->
    <script data-goatcounter="https://fraserh.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
    <title></title>
</head>
<div class="footer">
    <div class="flex-container">
        <div class="footer-text">
            <%= "Fraser Hutchison" %> &copy; <%= date(new Date(), 'YYYY') %>
                <br>
            <a href="mailto:fraserjameshutchison@gmail.com"> <i class="fas fa-envelope"></i> fraserjameshutchison@gmail.com </a>
        </div>
    </div>
</div>