.post-gallery-list {
  display: flex;
  flex-direction: column;
}
.post-gallery-item {
  border: 3px solid $color-outline;
  border-radius: 15px;
  background: $color-panel;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: $margin-m-1;
  min-height: auto;
  max-height: none;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.post-gallery-item .post-info {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  color: $color-text-secondary;
  justify-content: flex-start;
  padding-top: 0;
  margin-right: 50px;
  margin-left: 10px;
}
.post-gallery-item .post-info .post-title {
  margin-bottom: $margin-m-1;
  color: $color-hover-select;
}
.post-gallery-item .post-img {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-gallery-item .post-img img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: none;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
@media (max-width: 860px) {
  .post-gallery-item {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .post-gallery-item .post-info {
    margin-right: 0;
    margin-left: 0;
  }
  .post-gallery-item .post-img {
    position: relative;
    display: block;
    margin-top: $margin-m-1;
    text-align: center;
  }
  .post-gallery-item .post-img img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 861px) and (max-width: 1199px) {
  .post-gallery-item {
    align-items: stretch;
  }
  .post-gallery-item .post-img {
    position: relative;
    display: flex;
    margin-top: $margin-m-1;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }
  .post-gallery-item .post-img img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
