.post-gallery-list {
  display: flex;
  flex-direction: column;
}
.post-gallery-item {
  border: 3px solid $color-outline;
  border-radius: 15px;
  background: $color-panel;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: $margin-m-1;
  min-height: auto;
  max-height: none;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.post-gallery-item .post-info {
  margin-right: $margin-l-0;
  margin-left: $margin-m-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $color-text-secondary;
  justify-content: flex-start;
  padding-top: 0;
}
.post-gallery-item .post-info .post-title {
  margin-bottom: $margin-m-1;
  color: $color-hover-select;
}
.post-gallery-item .post-img {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-gallery-item .post-img img {
  display: block;
  width: calc(100% - 20px);
  height: auto;
  min-height: 200px;
  max-height: none;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin: 0 auto;
}
@media (max-width: 860px) {
  .post-gallery-item {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .post-gallery-item .post-img {
    position: relative;
    display: block;
    margin-top: $margin-m-1;
    box-sizing: border-box;
    text-align: center;
  }
  .post-gallery-item .post-img img {
    display: block;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
}
