.post-gallery-list
    .h-line-secondary
        margin-top $margin-m-1

    .h-line-secondary:last-child
        display none

.post-gallery-item
    display flex
    border: 2px solid #333840; /* Add an outline around the posts */
    //background: $color-background; /* Add a background color */
    border-radius: 15px; /* Optional: Add rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    padding: 30px; /* Add some padding inside the border */
    margin-top $margin-primary
    margin-bottom $margin-m-1
    .post-info
        margin-right $margin-l-0
        width 50%
        display flex
        flex-direction column

        .post-title
            margin-bottom $margin-m-1
            text-style(heading-h1)

        .post-date
            text-style(post-date)

    .post-img
        width 50%
    
    .post-img img
        width 100%
        height 100%
        object-fit cover
        border-radius 10px
    a 
        underline-motion(link)
    
@media (max-width: 480px)
    .post-gallery-item
        flex-wrap wrap
        .post-info
            width 100%
        .post-img
            width 100%
            margin-top $margin-m-1

