.post-list
    
    a 
        // Use same style as markdown extras - underline only on hover
        background-image linear-gradient(transparent, transparent), linear-gradient($color-text-primary, $color-text-primary)
        background-size 100% 1px, 0% 1px
        background-position 100% 100%, 0 100%
        background-repeat no-repeat, no-repeat
        transition background-size 0.6s linear
        text-decoration none
        
        &:hover
            background-size 0 1px, 100% 1px

.year-title
    margin-top $margin-primary
    margin-bottom $margin-m-1
    text-style(year-title)

.post-list-item
    display flex
    flex-wrap nowrap
    margin-top $margin-m-1
    align-items top

    .post-title
        flex-grow 1
        text-style(body-default)
        font-variation-settings 'wght' $font-weight-medium

    .post-date
        margin-left $margin-l-0
        min-width 8rem
        text-align right
        text-style(post-date)
        line-height $line-height-body
        color $color-text-secondary

@media (max-width: 480px)
    .post-list-item
        flex-wrap wrap
        .post-title
            width 100%

        .post-date
            margin-left 0
            width 100%
            text-align left
