.profile 
    margin-top $margin-primary
    display flex
    flex-direction row-reverse
    justify-content: center; /* Center the profile-body horizontally */
    align-items: flex-start; /* Align the profile-body to the top */
    
    .profile-content 
        width 50%
        margin 0

        .profile-title
            text-style(heading-h1)
            margin-top 0
            margin-bottom $margin-m-0
            
        .profile-body
            text-style(body-default)
            text-align center
            display: flex;
            flex-direction: column; /* Stack items vertically */
            align-items: flex-start; /* Center items horizontally */
            margin: 0;
            width: 100%;

        .profile-link
            margin-top 0
            margin-bottom $margin-m-1
            text-style(header)

        .icon-github { color: #ffffff; }
        .icon-linkedin { color: #ffffff; }
        .icon-artstation { color: #ffffff; }
    
        .outlined-box {
            border: 2px solid $color-outline;
            background: $color-panel;
            padding: 20px;
            display: inline-block;
            border-radius: 15px;
            width: 100%;
            box-sizing: border-box;
            flex-grow: 1;
            z-index: 1;
        }
    
        .profile-picture {
            width: 175px;
            height: 175px;
            border-radius: 5%;
            object-fit: cover;
            margin auto
            display block
        }

    #shaderCanvas {
        width: 100%;
        height: auto;
        max-width: 256px;
        max-height: 256px;
    }

@media (max-width: 480px)
    .profile
        flex-wrap wrap
        
        .profile-content
            width 100%
            margin-top $margin-m-1
            
        .profile-image
            width 100%