<body>
    <div class="profile">
        <div class="post-content profile-content">
            <div class="profile-body">
                <img src="/profile-picture.jpg" alt="Profile Picture" class="profile-picture">
                <div class="outlined-box">
                    <div class="profile-title">
                        Fraser Hutchison
                    </div>
                    <span class="rainbow-text">Technical Artist @ SEGA HARDlight</span>
                    <div class="profile-links-grouped">
                        <a href="mailto:fraserjameshutchison@gmail.com"> <i class="fas fa-envelope"></i> fraserjameshutchison@gmail.com
                        </a><br>
                        <a href="https://www.linkedin.com/in/fraser-hutchison-011b0b178/">
                            <i class="fab fa-linkedin icon-linkedin"></i> LinkedIn
                        </a>
                        <a href="https://github.com/FraserHutchison?tab=repositories">
                            <i class="fab fa-github icon-github"></i> GitHub
                        </a>
                        <a href="https://www.artstation.com/fraserhutchison">
                            <i class="fab fa-artstation icon-artstation"></i> ArtStation
                        </a>
                    </div>
                </div>
                <br>
                <div class="outlined-box" style="text-align: left;">
                    For full list, see <a href="https://www.linkedin.com/in/fraser-hutchison-011b0b178/"><i class="fab fa-linkedin icon-linkedin"></i> LinkedIn</a> 
                    or
                    <a href="/fraser-hutchison-cv.pdf" target="_blank"> <i class="fas fa-file-pdf"></i> CV
                    <br><br>
                    <div class="outlined-box" style="border-color: #00b0e8">
                        <div class="profile-heading3">
                            <img src="/icon/sega-hardlight.png" alt="" style="width: 17px; height: 17px;"> &nbsp SEGA HARDlight
                        </div>
                        <b>Technical Artist</b>
                        <br>
                        <span><i style="font-size: smaller;">
                                <a href="https://apps.apple.com/us/app/sonic-dream-team/id1609094795">Sonic Dream Team,
                                </a><br>
                                <a href="https://play.google.com/store/apps/details?id=com.sega.sprint&hl=en_GB">Sonic Forces Speed Battle,
                                </a><br>
                                <a href="https://play.google.com/store/apps/details?id=com.sega.sonicdash&hl=en_GB&pli=1">Sonic Dash
                                </a>
                        </i></span>
                        <br>
                        <span style="color: grey;">February 2022 - Present</span>
                        <br>
                    </div>
                    <br><br>
                    <div class="outlined-box">
                        <div class="profile-heading3">
                            <img src="/icon/frontier-developments.png" alt="" style="width: 17px; height: 17px;"> &nbsp Frontier Developments
                        </div>
                        <b>3D Artist</b>
                        <br>
                        <span><i style="font-size: smaller;">
                                <a href="https://www.f1manager.com/2022/">F1 Manager 2022</a>
                        </i></span>
                        <br>
                        <span style="color: grey;">July 2021 - February 2022</span>
                        <br>
                    </div>
                </div>
                <br>
                <div class="outlined-box">
                    <div class="website-links">
                        See how this website is powered
                        <br>
                        <a href="https://github.com/FraserHutchison/fhutch-website.git">
                            <i class="fab fa-github icon-github"></i> GitHub Repository
                        </a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="background-container"></div>
</body>