<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .profile-links-grouped a {
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;
    }
</style>
<body>
<link rel="stylesheet" href="/css/style.css">
    <div class="profile">
        <div class="post-content profile-content">
            <div class="profile-body">
                <div class="profile-row">
                    <img src="/profile-picture.jpg" alt="Profile Picture" class="profile-picture">
                    <div class="outlined-box" style="margin-left: 20px; width: calc(100% - 195px); height: 175px; width: 500px;">
                        <div class="profile-title">
                            Fraser Hutchison
                        </div>
                        <span class="rainbow-text">Technical Artist @ SEGA HARDlight</span>
                        <div class="profile-links-grouped">
                            <a href="https://github.com/FraserHutchison?tab=repositories">
                                <i class="fab fa-github icon-github"></i> GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/fraser-hutchison-011b0b178/">
                                <i class="fab fa-linkedin icon-linkedin"></i> LinkedIn
                            </a>
                            <a href="https://www.artstation.com/fraserhutchison">
                                <i class="fab fa-artstation icon-artstation"></i> ArtStation
                            </a>
                        </div>
                        <div class="profile-links">
                            <a href="mailto:fraserjameshutchison@gmail.com"> <i class="fas fa-envelope"></i> fraserjameshutchison@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="outlined-box">
                    <div class="profile-heading2">
                        Experience
                    </div>
                    <div class="outlined-box" style="border-color: white">
                        <div class="profile-heading3">
                            <img src="/icon/sega-hardlight.png" alt="" style="width: 17px; height: 17px;"> SEGA HARDlight
                        </div>
                        <b>Technical Artist</b>
                        <br>
                        <i style="font-size: smaller;">Sonic Dream Team, Sonic Forces Speed Battle, Sonic Dash</i>
                        <br>
                        <span style="color: grey;">February 2022 - Present</span>
                        <br>
                    </div>
                    <br><br>
                    <div class="outlined-box">
                        <div class="profile-heading3">
                            <img src="/icon/frontier-developments.png" alt="" style="width: 17px; height: 17px;"> Frontier Developments
                        </div>
                        <b>3D Artist</b>
                        <br>
                        <i style="font-size: smaller;">F1 Manager 2022</i>
                        <br>
                        <span style="color: grey;">July 2021 - February 2022</span>
                        <br>
                    </div>
                    <br><br>
                    <div class="outlined-box">
                        <div class="profile-heading3">
                            Freelance
                        </div>
                        <div class="outlined-box">
                            <div class="profile-heading3">
                                <img src="/icon/sega-hardlight.png" alt="" style="width: 17px; height: 17px;"> SEGA Hardlight
                            </div>
                            <b>3D Artist</b>
                            <br>
                            <i style="font-size: smaller;">Two Point Hospital DLC</i>
                            <br>
                            <span style="color: grey;">August 2020 - September 2020</span>
                            <br>
                        </div>
                        <hr class="divider">
                        <div class="outlined-box">
                            <div class="profile-heading3">
                                <img src="/icon/viewpoint-games.png" alt="" style="width: 17px; height: 17px;"> Viewpoint Games
                            </div>
                            <b>3D Artist</b>
                            <br>
                            <i style="font-size: smaller;">Slammer VR</i>
                            <br>
                            <span style="color: grey;">January 2020 - February 2020</span>
                            <br>
                        </div>
                    </div>
                    <br><br>
                    <div class="outlined-box">
                        <div class="profile-heading3">
                            <img src="/icon/wcg.png" alt="" style="width: 17px; height: 17px;"> Education Warwickshire College Group
                        </div>
                        <i style="font-size: smaller;">Games Art Bachelors Degree, Games Art BTEC</i>
                        <br>
                        <span style="color: grey;">2016 - 2021</span>
                        <br>
                    </div>
<!--                    <canvas id="shaderCanvas"></canvas>-->
                </div>
                <br>
                <div class="outlined-box">
                    <div class="website-links">
                        See how this website is powered
                        <br>
                        <a href="https://github.com/FraserHutchison/fhutch-website.git">
                            <i class="fab fa-github icon-github"></i> GitHub Repository
                        </a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="background-container"></div>
</body>