<head>
    <!-- Include Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .icon-github { color: #000000; }
        .icon-linkedin { color: #000000; }
        .icon-artstation { color: #000000; }
    </style>
    <title></title>
</head>

<div class="profile">
    <canvas id="shaderCanvas" width="500" height="500"></canvas>
    
    <div class="post-content profile-content">
        <div class="profile-title">
            Hi, I'm Fraser
        </div>
        <div class="profile-body">
            A <span class="rainbow-text">Technical Artist</span> in the Games Industry.
            <br>
            <br>
            Currently working at <span class="rainbow-text">SEGA HARDlight</span>.
            
            <br>
            <br>
            <div class="profile-links">
                Links:
                <br>
                <a href="https://github.com/FraserHutchison?tab=repositories">
                    <i class="fab fa-github icon-github"></i> Github
                </a><br>
                <a href="https://www.linkedin.com/in/fraser-hutchison-011b0b178/">
                    <i class="fab fa-linkedin icon-linkedin"></i> LinkedIn
                </a><br>
                <a href="https://www.artstation.com/fraserhutchison">
                    <i class="fab fa-artstation icon-artstation"></i> ArtStation
                </a>
            </div>
            <br>
            <div class="website-links">
                This website is powered by:
                    <br>
                    <a href="https://hexo.io/">
                        <img src="icon/hexo.svg" alt="" style="width: 17px; height: 17px;"> Hexo
                    </a><br>
                    <a href="https://fontawesome.com/search">
                        <i class="fa-solid fa-font-awesome"></i> Font Awesome
                    </a><br>
                    <a href="https://pages.github.com/">
                        <i class="fab fa-github icon-github"></i> GitHub Pages
            </div>
        </div>
    </div>
</div>
