<style>
    .profile-links-grouped a {
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;
    }
</style>
<body>
    <div class="profile">
        <div class="post-content profile-content">
            <div class="profile-body">
                <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
                <br>
                <div class="outlined-box">
                    <div class="profile-title">
                        Fraser Hutchison
                    </div>
                    <span class="rainbow-text">Technical Artist @ SEGA HARDlight</span>
                    <br><br>
                    <canvas id="shaderCanvas"></canvas>
                </div>
                <br>
                <div class="outlined-box">
                    <div class="profile-links">
                        <a href="mailto:fraserjameshutchison@gmail.com"> <i class="fas fa-envelope"></i> fraserjameshutchison@gmail.com 
                        </a><br>
                    </div>
                    <div class="profile-links-grouped">
                        <a href="https://github.com/FraserHutchison?tab=repositories">
                            <i class="fab fa-github icon-github"></i> GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/fraser-hutchison-011b0b178/">
                            <i class="fab fa-linkedin icon-linkedin"></i> LinkedIn
                        </a>
                        <a href="https://www.artstation.com/fraserhutchison">
                            <i class="fab fa-artstation icon-artstation"></i> ArtStation
                        </a>
                    </div>
                </div>
                <br>
                <div class="outlined-box">
                    <div class="website-links">
                        See how this website is powered
                        <br>
                        <a href="https://github.com/FraserHutchison/fhutch-website.git">
                            <i class="fab fa-github icon-github"></i> GitHub Repository
                        </a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>