// Default image style
img
    max-width 100%
    height auto
    
// Center image
.img-center
    max-width 100%
    height auto
    display block
    margin-left auto
    margin-right auto
    text-align center
    
// Left align image
.img-left
    max-width 100%
    height auto
    display block
    margin-left 0
    margin-right auto
    text-align left
    
// Right align image
.img-right
    max-width 100%
    height auto
    display block
    margin-left auto
    margin-right 0
    text-align right
        
// fix 16:9 ratio
.video-container 
    width 100%
    padding-top 56.25%
    position relative

.video-container>iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

